body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}

ul {
    list-style-type: none;
}

li {
    border-radius: 5px;
}

p {
    border-radius: 5px;
}

table {
    border-spacing: 0;
}

tr {
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

#black-card {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    color: rgb(236, 230, 230);
    margin-bottom: 1.5rem;
}

#guess-cards {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

#guess-cards > li {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25, 60, 255);
    color: rgb(220, 220, 220);
    transition: all 0.3s ease-out;
    margin-bottom: 1.5rem;
}

#guess-cards > li:hover {
    background-color: rgb(0, 22, 146);
}

#guess-cards > li:active {
    background-color: rgb(0, 15, 100);
}

#stiky-container {
    position: sticky;
    bottom: 0;
    background: linear-gradient(0deg, aliceblue, aliceblue, transparent);
}

#cards-container {
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#cover-cards {
    background: linear-gradient(180deg, rgb(20, 20, 20), transparent);
    text-shadow: 1px 1px 2px rgb(20, 20, 20);
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    color: rgb(220, 220, 220);
}

#cover-cards > h1 {
    margin: 4rem;
}

#my-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 700px;
    list-style-type: none;
}

#my-cards > li {
    margin: 5px;
    padding: 10px;
    background-color: aliceblue;
    color: rgb(26, 26, 26);
    box-shadow: 0px 1px 4px 0px grey;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
}

#my-cards > li:hover {
    background-color: rgb(202, 202, 202);
}

#my-cards > li:active {
    background-color: rgb(160, 160, 160);
}

#form {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

#name {
    flex-grow: 3;
}

#description {
    display: flex;
    justify-content: space-between;
}

.winner-card {
    background-color: rgb(20, 20, 20) !important;
}

.container {
    display: flex;
    justify-content: center;
}

.app {
    margin: 1rem;
    width: 700px;
}

.invisible {
    display: none;
}

@media (max-width: 600px) and (min-width: 100px) {
    .container {
        width: 100%;
    }
}

.lds-facebook {
    margin: auto 0;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgb(36, 36, 36);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  